
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial;
    display: flex;
    height: 100vh;
}

#teacher-panel {
    width: 300px;
    padding: 15px;
    background: white;
}

#bulk-vocab-input {
    width: 100%;
    height: 300px;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

#game-container {
    flex: 1;
    position: relative;
}

canvas {
    width: 100%;
    height: 100%;
    background: skyblue;
}

#hud {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    gap: 10px;
}

.hud-box {
    background: white;
    padding: 8px 12px;
    border-radius: 8px;
}

#target-word-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: white;
    text-align: center;
}

#target-word {
    font-size: 42px;
}
